body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.resize {
    display: flex;
    flex-direction: column;
    width: 330px;
}

.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 800px;
    justify-content: center;
   
}

.grid-row {
    display: flex;
    flex-direction: row;
    /* flex-basis: 100%; */
    width: 100%;
    flex-grow: 1;
}

.grid-item {
    flex-grow: 1;
    background-color: rgb(192, 192, 192);
    border: 1px solid #ddd;
    /* box-sizing: border-box; */ 
    padding: 5px;
    /* opacity: 50%; */
}

