body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(183, 56, 10);
    /* margin: 0; */
}

/* hover wasn't covered yet at this point (and webkit filter) */
button:hover {
    /* -webkit-filter: invert(100%); */
    filter: invert(100%);
}

.resizeBtn {
    display: flex;
    width: 400px;
    border-radius:8px;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
    background-color: rgb(32, 81, 172);
    color: silver;
    font-size: 18px;
}

.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 800px;
    border: 5px solid rgb(32, 81, 172);
    justify-content: center;
    background-image: url('./images/odin.png');
    background-size: 800px;

}

.grid-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
}

.grid-item {
    flex-grow: 1;
    background-color: rgb(192, 192, 192);
    /* border: 1px solid #ddd; */
    /* box-sizing: border-box; */ 
    /* padding: 5px; */
}
